---
import MainLayout from './MainLayout.astro';
// import { Image } from 'astro:assets';
// import Image from "astro:assets";


// utils import
import {formatDate} from "../js/utils";

const {frontmatter} = Astro.props;
const { title, description, date, draft, dutch} = frontmatter;
---


<MainLayout {title} {description}>
<header class="article-header span2-4">
    {dutch && <aside class="information">This article is written in dutch. Use your browser's translator function if you want to translate this.</aside>}
    <h1>{title}</h1>
    <time class="publication-date smaller">{formatDate(date)}</time>
    {draft && <aside>Item is in draft mode</aside>}
</header>

<slot />

</MainLayout>