---
import MainLayout from './MainLayout.astro';
import { Image } from 'astro:assets';
import brugImage from "../images/brug.jpg";

// utils import
import {formatDate} from "../js/utils";

const {frontmatter} = Astro.props;
const { title, description, date, draft, dutch} = frontmatter;
---


<MainLayout {title} {description}>
<header class="article-header">
    {dutch && <aside class="information">This article is written in dutch. Use your browser's translator function if you want to translate this.</aside>}
    <h1>{title}</h1>
    <time class="publication-date smaller">{formatDate(date)}</time>
    {draft && "Draft"}
</header>
<!-- <Image src={brugImage} alt="A description of my image." width="800" quality="80" class="bleed" /> -->


<div class="post-content">
    <slot />
</div>
</MainLayout>